# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# Prisma
# https://www.prisma.io/docs/reference/database-reference/connection-urls#env
DATABASE_URL="postgres://<username>:<password>@<host>:<port>/<database>?sslmode=require"
DIRECT_URL="postgres://<username>:<password>@<host>:<port>/<database>?sslmode=require"

# Node environment
NODE_ENV="development"

# Stellar/Anchor API Configuration
ANCHOR_API_BASE_URL="http://extmgxanchor.moneygram.com/"
PLATFORM_API_AUTH_TYPE=jwt
ANCHOR_API_TOKEN="your_anchor_api_token"
STELLAR_HORIZON_URL="https://horizon-testnet.stellar.org"

# Smart Contract Configuration
ESCROW_CONTRACT_ADDRESS="CC3CFRC6ZLWPG3M6JJSUMY3L7MYA34R3QK3VES7LHHWUFMW7YRWW4ZBL"
RPC_URL="https://soroban-testnet.stellar.org"

DRUID_DISTRIBUTOR_PUBLIC_KEY="GDUZK2USSJJPMDFIT65VXR3JTU3QDONTXTTGK4H4B4Z2ZD7QWAUUGAXN"
DRUID_DISTRIBUTOR_SECRET_KEY="your_secret_key"
NATIVE_CONTRACT_ID="CDLZFC3SYJYDZT7K67VZ75HPJVIEUVNIXF47BEA6SLY2MIGWXMRQ6GU5"
USDC_SAC="CBIELTK6YBZJU5UP2WWQEUCYKLPU6AUNZ2BQ4WWFEIE3USCIHMXQDAMA"
SRT_ASSET_ID="GCDNJUBQSX7AJWLJACMJ7I4BC3Z47BQUTMHEICZLE6MU4KQBRYG5JY6B"

# Passkey Service URLs
LAUNCHTUBE_URL="https://testnet.launchtube.xyz"
MERCURYT_URL="https://api.mercurydata.app"
LAUNCHETUBE_JWT="your_launchetube_jwt"
MERCURY_JWT="your_mercury_jwt"

# Features
ENABLE_SMS="true"
SALT_ROUNDS="10"
MOCK_KYC="true" # Set to true to bypass actual KYC API calls in development

# Public Variables (client-side accessible)
NEXT_PUBLIC_RPC_URL="https://soroban-testnet.stellar.org"
NEXT_PUBLIC_FACTORY_CONTRACT_ID="your_factory_contract_id"
NEXT_PUBLIC_NATIVE_CONTRACT_ID="CDLZFC3SYJYDZT7K67VZ75HPJVIEUVNIXF47BEA6SLY2MIGWXMRQ6GU5"
NEXT_PUBLIC_NETWORK_PASSPHRASE="Test SDF Network ; September 2015"
NEXT_PUBLIC_APP_URL="https://your-app-url.com" # Replace with your actual app URL
NEXT_PUBLIC_STELLAR_HORIZON_URL="https://horizon-testnet.stellar.org"
